* {
  padding: 0;
  margin: 0;
}

.container {
  background-color: lightgray;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.books-container {
  height: 700px;
  width: 800px;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(4, 200px);
  padding: 10px;
  box-shadow: 5px 5px 5px lightslategrey;
  border-radius: 10px;
  gap: 10px;
}

.book-card {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: #0797f7;
  color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 5px lightslategray;
}

.add-book-btn {
  padding: 20px;
  background-color: #0797f7;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  box-shadow: 5px 5px 5px lightslategray;
  cursor: pointer;
  margin: 10px;
}

.modal {
  height: 400px;
  width: 500px;
  position: absolute;
  background-color: #53758c;
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
}

.submit,
.cancel {
  padding: 10px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  color: white;
  font-size: 20px;
  padding: 5px;
}

input {
  width: 200px;
  padding: 5px;
  font-size: 20px;
}

input#read {
  width: 30px;
  height: 20px;
}

.form-card {
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-btns-container {
  display: flex;
  justify-content: center;
}
